<% provide(:title) %>
 <div class="row">
 <div class="leftcolumn">
 <%=link_to "Recent Post", '#', class: "button"%>
 <%=link_to "Selected Post",'#', class: "button"%>
 <%=link_to "My Setting", microposts_path, class: "button"%>
 <div class="rightcolumn">
 <%=link_to "New Post", new_micropost_path, class: "button"%>
 </div>
   <div class="card">
     <h5>Recent Post</h5>
       <% @microposts.each do |micropost|%>
              <%=link_to gravatar_for(micropost.user,size:70), micropost.user%> 
             <p><%=link_to micropost.user.email, micropost.user%></p>   
             <p><%=link_to micropost.title, micropost,micropost: micropost%></p>
             <p><%=micropost.created_at%></p>
         <%end%>
   </div>
 </div>
 <div class="rightcolumn">
   <div class="card">
     <h3>Recent Members</h3>
     <% @users.each do |user|%>
        <p><%= gravatar_for(user,size:50) %></p>
        <%# <p><%=user.last_seen_at%></p>
     <%end%>  
        </div>
   <div class="card">
     <h3>Topic</h3>
     <%=link_to "A.I", topic_path(:topic => "AI"), class: "round_button"%>
     <%=link_to "Game", topic_path(:topic => "Game"), class: "round_button"%>
     <%=link_to "Rmit", topic_path(:topic => "Rmit"), class: "round_button"%>
     <%=link_to "V.R.", topic_path(:topic => "VR"), class: "round_button"%>

   </div>
   <div class="card">
     <h3>Post</h3>
      <% @microposts.each do |micropost|%>
             <p><%=link_to micropost.title, micropost,micropost: micropost%></p>
         <%end%>
   </div>
   <div class="card">
   <h3>Links</h3>
   <%=link_to "Rails", '#', class: "round_button"%>
   <%=link_to "Rmit", '#', class: "round_button"%>
   <%=link_to "Docs.", '#', class: "round_button"%>
 </div>
 </div>
</div>

