<div class="col-sm-3 sidebar">
<nav class="navbar bg-light">
  <!-- Links -->
  <ul class="nav nav-sidebar">
    <li class="nav-item">
      <%=link_to "My Profile", current_user, class: "nav-link"%>
    </li>
    <li class="nav-item">
    <%=link_to "My Post", user_myPost_path(@user), class: "nav-link"%>
    </li>
    <li class="nav-item">    
      <%=link_to "My Comments", edit_user_path(@user), class: "nav-link"%>
    </li>
    <li class="nav-item">
    <%=link_to "Comments to me", edit_user_path(@user), class: "nav-link"%>
    </li>
    <li class="nav-item">
    <%=link_to "My Setting", edit_user_path(@user), class: "nav-link"%>
    </li>
  </ul>
</nav>
</div>
