<div class="row">
<br><br><h1>Your Comments</h1><br>
<%=render 'sidebar'%>
<div class="col-sm-6 navbar">


<h3> Comments (<%=@user.comments.count%>)</h3>  <p> 
<% @comments.each do |comment|%>
    <% if comment.user.email == @user.email%>
    <%=link_to gravatar_for(comment.user,size:50), comment.user%>
     <span class="user"><%=link_to comment.user.email, comment.user%></span>
    <p> <span class="topic">Comment: "<%=link_to comment.body,comment.micropost %></span>""
          Posted <%=time_ago_in_words(comment.created_at)%> ago.
          <%= link_to 'Delete',[comment.micropost,comment],method: :delete, data: {confirm: 'Are you sure?'} %>
          </p>   
          </span>
  </li>
         <%end%>
          <%end%>
</div>
</div>

</p>