<div class="row">
<br><br><h1>Update Your Profile</h1><br>
<div class="col-sm-3 sidebar">
<nav class="navbar bg-light">
  <!-- Links -->
  <ul class="nav nav-sidebar">
    <li class="nav-item">
      <%=link_to "My Profile", current_user, class: "nav-link"%>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My Posts</a>
      <%=link_to "My Comments", edit_user_path(@user), class: "nav-link"%>
    <li class="nav-item">
    <%=link_to "Comments to me", edit_user_path(@user), class: "nav-link"%>
  </li>

  </li>
  <li class="nav-item">
    <%=link_to "My Setting", edit_user_path(@user), class: "nav-link"%>

  </li>
  </ul>
</nav>
</div>
<div class="col-sm-6 navbar">
<nav class="navbar navbar-expand-sm bg-light navbar-light">
<ul class="navbar-nav">
    <div id="subheader">
   <%=link_to "Personal Information", edit_user_path(@user), class: "nav-link"%>
    <%=link_to "Avatar ", user_edit_editAvatar_path(@user), class: "nav-link"%>
   <%=link_to "Password", user_edit_editPassword_path(@user), class: "nav-link"%>
    <%=link_to "Verification", user_edit_editVerification_path(@user), class: "nav-link"%>

  </div>
  </ul>
</nav>

<%=render 'verification'%>

</div>
</div>
</div>