<div class="row"><br><br>
<h1>Update Your Profile</h1><br>
<%=render 'sidebar'%>

<div class="col-sm-6 navbar">
<nav class="navbar navbar-expand-sm bg-light navbar-light">
<ul class="navbar-nav">
    <div id="subheader">
   <%=link_to "Personal Information", edit_user_path(@user), class: "nav-link"%>
    <%=link_to "Avatar ", user_edit_editAvatar_path(@user), class: "nav-link"%>
   <%=link_to "Password", user_edit_editPassword_path(@user), class: "nav-link"%>
    <%=link_to "Verification", user_edit_editVerification_path(@user), class: "nav-link"%>

  </div>
  </ul>
</nav>
<%=render 'info'%>

   </div>

</div>
