<% provide(:title, @user.email) %> 
<div class="row">
<section class="card">
    <h1>
    <%=gravatar_for @user%>
    <br>
    <%= @user.email %>
    <h2>
    <%= @user.created_at.strftime("%d-%m-%Y") %>
    <% if @user.city!=nil%>
    <%= @user.city %>
    <%end%>
    </h2>        
    </h1>
</section>
<div class="right-half">
      <h2>Recent Post</h2>
      <% if @user.microposts.any?%>
    <h3>Microposts (<%=@user.microposts.count%>)</h3>
    <ol class="microposts">
    <%=render @microposts%>
    </ol>
    <%end%>
</div>
<div class="left-half">
      <h2>Recent Comment</h2>
    <% if @user.comments.any?%>
      <h3>Comments (<%=@user.comments.count%>)</h3>
       <p><%=render @user.comments%> </p>
   </div>
    <%end%>
</div>

</div>