<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= form.label :topic %>
    <%= form.select(:topic, Micropost::TITLE_LIST) %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, placeholder: "Enter post title Here"%>
  </div>

  <div class="field">
    <%= form.text_area :content , :cols => 40, :rows => 30 ,placeholder: "Enter your post here" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
