<div class="rightcolumn">
<div class="col-md-9">
<p id="notice"><%= notice %></p>
<br><br>
    <p>
          <strong>Topic:</strong>
          <%= @micropost.topic%>
      </p>
    <p>
      <strong>Title:</strong>
      <%= @micropost.title%>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @micropost.content%>
    </p>

    <p>
      <strong>User:</strong>
      <%= @micropost.user.email %>
    </p>

    <p>
      <strong>Comments:</strong>
        <%= @micropost.comments.count %> 
        <p><%=render @micropost.comments%> </p>
    </p>
    <p>
      <%if logged_in?%><br><br>
       <strong>Add a comment</strong>
      <%=render'comments/form'%>
 
    </p>
    <%if @micropost.user_id==current_user.id%><br><br>

    <%= link_to 'Edit', edit_micropost_path(@micropost) %> 
    <%= link_to 'Back', microposts_path %>
    <% end %>
     <% end %>
  </div>
  </div>


  <div class="col-md-9">
  <%=render 'static_pages/rightbar'%>
</div>
