<p id="notice"><%= topic: %></p>

<p>
  <% @micropost.each do |micropost|%>
              <%=link_to gravatar_for(micropost.user,size:70), micropost.user%> 
             <p><%=link_to micropost.user.email, micropost.user%></p>   
             <p><%=link_to micropost.topic, micropost,micropost: micropost%></p>
             <p><%=micropost.created_at%></p>
         <%end%>
</p>

